<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njupt.garbage.mapper.GarbageItemMapper">
  <resultMap id="BaseResultMap" type="com.njupt.garbage.pojo.GarbageItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="item_desc" jdbcType="VARCHAR" property="itemDesc" />
    <result column="matters" jdbcType="VARCHAR" property="matters" />
    <result column="disposal" jdbcType="VARCHAR" property="disposal" />
    <result column="QR_code" jdbcType="VARCHAR" property="qrCode" />
    <result column="cid" jdbcType="BIGINT" property="cid" />
    <result column="item_status" jdbcType="TINYINT" property="itemStatus" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, item_name, logo, item_desc, matters, disposal, QR_code, cid, item_status, created, 
    updated
  </sql>
  <select id="selectByCatCnName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
gg_item.*
FROM
gg_item,
gg_item_cat
WHERE
gg_item.cid = gg_item_cat.id
AND
gg_item_cat.name_cn LIKE #{nameCn, jdbcType=VARCHAR}
  </select>

  <select id="selectByLabelContent" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
gg_item.*
FROM
gg_item,
gg_label,
gg_label_item
WHERE
gg_label_item.item_id = gg_item.id
AND
gg_label_item.label_id = gg_label.id
AND
gg_label.content LIKE  #{content, jdbcType=VARCHAR}
  </select>
  <select id="selectByExample" parameterType="com.njupt.garbage.pojo.GarbageItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gg_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gg_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from gg_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.njupt.garbage.pojo.GarbageItemExample">
    delete from gg_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.njupt.garbage.pojo.GarbageItem">
    insert into gg_item (id, item_name, logo, 
      item_desc, matters, disposal, 
      QR_code, cid, item_status, 
      created, updated)
    values (#{id,jdbcType=BIGINT}, #{itemName,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, 
      #{itemDesc,jdbcType=VARCHAR}, #{matters,jdbcType=VARCHAR}, #{disposal,jdbcType=VARCHAR}, 
      #{qrCode,jdbcType=VARCHAR}, #{cid,jdbcType=BIGINT}, #{itemStatus,jdbcType=TINYINT}, 
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.njupt.garbage.pojo.GarbageItem">
    insert into gg_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="itemDesc != null">
        item_desc,
      </if>
      <if test="matters != null">
        matters,
      </if>
      <if test="disposal != null">
        disposal,
      </if>
      <if test="qrCode != null">
        QR_code,
      </if>
      <if test="cid != null">
        cid,
      </if>
      <if test="itemStatus != null">
        item_status,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null">
        #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="matters != null">
        #{matters,jdbcType=VARCHAR},
      </if>
      <if test="disposal != null">
        #{disposal,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null">
        #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=BIGINT},
      </if>
      <if test="itemStatus != null">
        #{itemStatus,jdbcType=TINYINT},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.njupt.garbage.pojo.GarbageItemExample" resultType="java.lang.Long">
    select count(*) from gg_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gg_item
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.itemName != null">
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.logo != null">
        logo = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.itemDesc != null">
        item_desc = #{record.itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.matters != null">
        matters = #{record.matters,jdbcType=VARCHAR},
      </if>
      <if test="record.disposal != null">
        disposal = #{record.disposal,jdbcType=VARCHAR},
      </if>
      <if test="record.qrCode != null">
        QR_code = #{record.qrCode,jdbcType=VARCHAR},
      </if>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=BIGINT},
      </if>
      <if test="record.itemStatus != null">
        item_status = #{record.itemStatus,jdbcType=TINYINT},
      </if>
      <if test="record.created != null">
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null">
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gg_item
    set id = #{record.id,jdbcType=BIGINT},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      logo = #{record.logo,jdbcType=VARCHAR},
      item_desc = #{record.itemDesc,jdbcType=VARCHAR},
      matters = #{record.matters,jdbcType=VARCHAR},
      disposal = #{record.disposal,jdbcType=VARCHAR},
      QR_code = #{record.qrCode,jdbcType=VARCHAR},
      cid = #{record.cid,jdbcType=BIGINT},
      item_status = #{record.itemStatus,jdbcType=TINYINT},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.njupt.garbage.pojo.GarbageItem">
    update gg_item
    <set>
      <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null">
        item_desc = #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="matters != null">
        matters = #{matters,jdbcType=VARCHAR},
      </if>
      <if test="disposal != null">
        disposal = #{disposal,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null">
        QR_code = #{qrCode,jdbcType=VARCHAR},
      </if>
      <if test="cid != null">
        cid = #{cid,jdbcType=BIGINT},
      </if>
      <if test="itemStatus != null">
        item_status = #{itemStatus,jdbcType=TINYINT},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        updated = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.njupt.garbage.pojo.GarbageItem">
    update gg_item
    set item_name = #{itemName,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      item_desc = #{itemDesc,jdbcType=VARCHAR},
      matters = #{matters,jdbcType=VARCHAR},
      disposal = #{disposal,jdbcType=VARCHAR},
      QR_code = #{qrCode,jdbcType=VARCHAR},
      cid = #{cid,jdbcType=BIGINT},
      item_status = #{itemStatus,jdbcType=TINYINT},
      created = #{created,jdbcType=TIMESTAMP},
      updated = #{updated,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>